
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470057009'); /* IE9*/
  src: url('iconfont.eot?t=1470057009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470057009') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470057009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470057009#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhiwen:before { content: "\e70d"; }
.icon-tuichu:before { content: "\e662"; }
.icon-tuichu1:before { content: "\e815"; }
.icon-shangbandaqia:before { content: "\e672"; }
.icon-xiabandaqia:before { content: "\e671"; }
.icon-tushuziliaoku:before { content: "\e60c"; }
.icon-6:before { content: "\e609"; }
.icon-paixing:before { content: "\e8f8"; }
.icon-gerenxinxi:before { content: "\e61e"; }
.icon-gerenxinxi1:before { content: "\e795"; }
.icon-tequan:before { content: "\e609"; }
.icon-tequan1:before { content: "\e633"; }
.icon-tequan2:before { content: "\e687"; }
.icon-tequan3:before { content: "\e62d"; }
.icon-tequan-copy:before { content: "\e739"; }
.icon-tequan4:before { content: "\e612"; }
.icon-shenqing:before { content: "\e6ae"; }
.icon-yuedu:before { content: "\e806"; }
.icon-gaikuangzuori:before { content: "\e6f6"; }
.icon-shenqing1:before { content: "\e66d"; }
.icon-ziliaoku:before { content: "\f00ca"; }
.icon-tuichu2:before { content: "\e61c"; }
.icon-gerenxinxi2:before { content: "\e65b"; }
.icon-gerenxinxi3:before { content: "\e656"; }
.icon-tushu:before { content: "\e610"; }
.icon-tushu1:before { content: "\e640"; }
.icon-paixing1:before { content: "\e60e"; }
.icon-paixing2:before { content: "\e648"; }
.icon-paixing3:before { content: "\e620"; }
.icon-paixing4:before { content: "\e70e"; }
.icon-shangxiaban:before { content: "\e613"; }
.icon-top:before { content: "\e64b"; }
.icon-zuotian:before { content: "\e6fc"; }
.icon-zuorigaikuang:before { content: "\e60a"; }
.icon-tushu1:before { content: "\e600"; }
.icon-shenqingdao:before { content: "\e65c"; }
.icon-shenqing2:before { content: "\e609"; }
.icon-gou:before { content: "\e60d"; }
.icon-shenqing3:before { content: "\e6a9"; }
.icon-ruhuishenqing:before { content: "\e71f"; }
.icon-paixing5:before { content: "\f0141"; }
.icon-paixing-copy:before { content: "\a"; }
.icon-paixing6:before { content: "\f0057"; }
.icon-icon2:before { content: "\e60b"; }
