            <!-- jQuery -->
            <script src="//code.jquery.com/jquery.js"></script>
            <!-- Bootstrap JavaScript -->
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

            <!-- import -->
            <!-- <import file="Js.bootstrap" type="js" /> -->

            <!-- load -->
            <!-- <load href="__PUBLIC__/js/jquery.js"/> -->

            <!-- css -->
            <!-- <css href="__PUBLIC__/css/bootstrap.css"/> -->

            <!-- js -->
            <!-- <js href="__CDN__/js/bootstrap.js"/> -->